.DS_Store
node_modules/

# Wallet
packages/wallet/.svelte-kit/
packages/wallet/build/
packages/wallet/node_modules/

# Contracts
packages/contracts/out/
packages/contracts/cache/
packages/contracts/node_modules/

/build*
/.svelte-kit
packages/wallet/package
packages/wallet/deadcode
packages/wallet/*.http
packages/wallet/.env
packages/wallet/.env.*
packages/wallet/!.env.example
packages/wallet/*.tmp
packages/wallet/*.wip

packages/wallet/test-data-keyring.json
packages/wallet//wip-colors

packages/wallet/background.js.LICENSE.txt
packages/wallet/background-no-edit.ts
packages/wallet/*.pem
packages/wallet/*.crx
packages/wallet/*.zip
packages/wallet/providers.json
packages/wallet/test*.json
packages/wallet/static/manifest.json
packages/wallet/static/js/background.js
packages/wallet/static/js/content.ts
packages/wallet/static/js/inpage.js
packages/wallet/static/js/inpage.js.LICENSE.txt
packages/wallet/static/js/696.js
packages/wallet/static/js/785.js


