# System files
.DS_Store

# Node modules
node_modules/

# Wallet build artifacts
packages/wallet/.svelte-kit/
packages/wallet/build/
packages/wallet/node_modules/

# Contracts build artifacts
packages/contracts/lib/
packages/contracts/out/
packages/contracts/cache/
packages/contracts/node_modules/
packages/contracts/code/anvil-test-data.txt
packages/contracts/code/deployed_*_contracts.json
packages/contracts/code/deployed_contracts.json
packages/contracts/code/anvil-config.json
packages/contracts/code/helper/
packages/contracts/code/*.old
**/4337/
**/forge-tests.txt

# General patterns
packages/wallet/*.tmp
packages/wallet/*.wip
packages/wallet/src/lib/plugins/swaps/uniswap/UniswapHelper.ts

# Specific files and directories
packages/wallet/package
packages/wallet/deadcode
packages/wallet/research
packages/wallet/*.http
packages/wallet/.env
packages/wallet/.env.*
!packages/wallet/.env.example
packages/**/.env
packages/wallet/test-data-keyring.json
packages/wallet/wip-colors
packages/wallet/background.js.LICENSE.txt
packages/wallet/background-no-edit.ts
packages/wallet/*.pem
packages/wallet/*.crx
packages/wallet/*.zip
packages/wallet/providers.json
packages/wallet/test*.json
packages/wallet/src/routes/(app)/ai/
packages/wallet/src/routes/(app)/activities/
packages/wallet/src/routes/(app)/components/
packages/wallet/src/routes/(app)/dashboard/
packages/wallet/src/routes/(app)/import/import-emergencykit/
packages/wallet/src/routes/(app)/markets/
packages/wallet/src/routes/(app)/nfts/
packages/wallet/src/routes/(app)/security/**/*.tmp
packages/wallet/src/routes/(app)/settings/
packages/wallet/src/routes/(app)/smartContracts/
packages/wallet/src/routes/(app)/university/

# Static files
packages/wallet/static/manifest.json
packages/wallet/static/ext/

# Specific file patterns in subdirectories
packages/wallet/src/lib/**/*.tmp

# Optional: Specific patterns to match nested directories (alternative approach)
**/*.old
**/*.tmp
**/*.wip
**/anvil-state

pnpm-lock.yaml
package-lock.json
