@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
}

@layer components {
    /* .td-toc :where(a) {
      @apply block font-light pb-1;
    }

    .btn {
      @apply rounded-lg align-middle text-center block;
    }

    .btn-primary {
      @apply py-2 px-4 font-normal bg-primary-500 text-white font-semibold rounded-lg shadow-md hover:bg-primary-700 focus:outline-none focus:ring-2 focus:ring-primary-400 focus:ring-opacity-75;
    }

    .btn-primary.disabled {
      @apply opacity-50;
    }

    .btn-secondary {
      @apply py-2 px-4 font-normal bg-secondary-500 text-white font-semibold rounded-lg shadow-md hover:bg-secondary-700 focus:outline-none focus:ring-2 focus:ring-secondary-400 focus:ring-opacity-75;
    }

    .btn-seconday.disabled {
      @apply opacity-50;
    }

    .d-flex {
      @apply flex;
    } 

    .justify-content-between {
      @apply justify-between;
    }

    .align-items-center {
      @apply pl-0 list-none items-center;
    }

    .prose :where(table):not(:where([class~="not-prose"] *)) {
      @apply sm:px-6 lg:px-8 align-middle shadow overflow-hidden border-b border-gray-200 sm:rounded-lg;
    }

    .prose :where(thead th):not(:where([class~="not-prose"] *)) {
      @apply bg-primary-200 ml-1 px-1 py-3 text-left text-xs font-medium text-primary-500 uppercase tracking-wider;
    }

    .prose :where(tbody tr):not(:where([class~="not-prose"] *)) {
      @apply ml-1 px-6 py-4 whitespace-nowrap text-sm font-medium text-primary-900;
    }

    .prose :where(tbody tr:nth-child(even)):not(:where([class~="not-prose"] *)) {
      @apply bg-primary-50;
    }
    
    .prose :where(tbody tr:nth-child(odd)):not(:where([class~="not-prose"] *)) {
      @apply bg-white;
    }

    .prose :where(tbody td):not(:where([class~="not-prose"] *)) {
      @apply pl-1;
    }

    .prose :where(thead th:first-child):not(:where([class~="not-prose"] *)) {
      @apply pl-1;
    }
        
    .prose :where(tbody td:first-child):not(:where([class~="not-prose"] *)) {
      @pply pl-1;
    }     

    .prose :where(thead th:last-child):not(:where([class~="not-prose"] *)) {
      @apply pr-2;
    }
        
    .prose :where(tbody td:last-child):not(:where([class~="not-prose"] *)) {
      @apply pr-2;
    }     

    .breadcrumb-item {
      @apply text-primary-500;
    }

    .breadcrumb-item::before {
      @apply pl-1;
    } */
}

@layer utilities {
    /* .btn {
      @apply pointer-events-auto;
    }

    .btn.disabled {
      @apply pointer-events-none;
    } */

}

/* test */
/* .theme-elegant {
  --color-primary: 192 178 131;
  --color-secondary: 220 208 192;
} */

/* .form-select {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
  background-position: right 0.5rem center;
  background-repeat: no-repeat;
  background-size: 1.5em 1.5em;
  padding-right: 2.5rem;
  -webkit-print-color-adjust: exact;
          color-adjust: exact;
} */
